node_modules
npm-debug.log
dist
dist-api
.git
.gitignore
.env
.env.local
.vscode
.idea
*.md
!README.md
.DS_Store
coverage
.vitest
src/app-public
src/app-private
*.spec.ts
*.test.ts
.eslintrc*
.prettierrc*
vitest.config.ts
